<div class="container">
    <div class="card card-body">
    <div class=" col-md-6 mt-2 offset-3">
            <form action="" #loginform='ngForm' (ngSubmit)='sendata(loginform)'>
                    <legend class="text-center">login</legend>


                    <div class="form-group" >
                      <label for="username">email</label>
                      <input type="text" name="username" id="username" class="form-control" placeholder="input" #username = 'ngModel' ngModel required minlength="5">
                    </div>
                    <div *ngIf = 'username.touched && username.invalid'>
                        <div class="alert alert-danger" *ngIf ='username.errors.required'>
                         requried
                        </div>
                       </div>
        <button type="submit" class="btn btn-success">submit</button>
        </form>
    </div>
    </div>

</div>
